body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;

    grid-template-rows: 8% 30% auto 10%;
    grid-template-columns: auto 27% 27% 27%;
    grid-template-areas: 
        "aside header header header"
        "aside sec1 sec2 sec3"
        "aside  main main main"
        "aside footer footer footer";
}

aside{
    grid-area: aside;
    background-color: #007fff;
}

header{
    grid-area: header;
    background-color: #91c8ff;

}

#section1 {
    grid-area: sec1;
    background-color: #b3d8fd;
}

#section2 {
    grid-area: sec2;
    background-color: #5e86af;
}

#section3{
    grid-area: sec3;
    background-color: #6d9fd2;
}

main{
    grid-area: main;
    background-color: #7da9d5;
}

footer{
    grid-area: footer;
    background-color: #588ec3;
}