:root{

    --bg-color:rgb(244,244,244);
    --secondary-color:rgb(231,227,79);
    --primary-color:rgb(18,18,18);
    --tertiary-color: rgb(100, 100, 100);
    --link-color:rgb(149, 147, 100);

    --font-size-title: 2rem;
    --font-size-text: 1.6rem;
    --font-size-teaser: 4rem;
    
    font-size: 62.5%;
}
header{
    display: grid;
    text-align: center;
    justify-content: center;
}
h1{
    font-size: var(--font-size-title);
    color: var(--link-color);
    font-size: var(--font-size-title);
    
}


li{
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 20px;
    padding: 10px;
    
}


#contact{
    padding: var(sectionpadding);
}