qbutton {
    padding: 20px 30px;
    font-size: 16px;
    border: 2px solid #333;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 50px;
}

#button_een:hover{
    background-color: red;
    border: #333;
    color: aqua;
    outline-color: #27ae60;
    outline-style: solid;
    outline-width: 3px;
    box-shadow: -50px -50px #777777;
    transform: rotate(45deg)
}

#button_twee:active{
    transform: translate(-200px);
    background-color: lightslategrey;
}

#button_drie:hover{
    outline-color: #a83434;
    transform: scale(15.0);
}